---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Figmaland">
  <main >
    <section id="section1">
      <div class="container-fluid" id="landing1">
        <nav class="row d-flex justify-content-center flex-wrap">
          <div class="col-md-3 col-6 text-center">
            <img
              src="/LogoFigmaland.png"
              alt="logoIcon"
              class="img-fluid"
            />
          </div>
          <div
            class="col-6 d-md-none d-flex flex-wrap align-items-center justify-content-end"
          >
            <a
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <img src="/MenuMobile.png" alt="MenuIcon" />
            </a>
            <div class="collapse col-12" id="collapseExample">
              <div class="card card-body">
                Some placeholder content for the collapse component. This panel
                is hidden by default but revealed when the user activates the
                relevant trigger.
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex">
            <ul id="navlist" class="nomargin d-md-flex d-none">
              <li><a href="">Home</a></li>
              <li><a href="">Product</a></li>
              <li><a href="">Pricing</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>

          <div class="col-md-3 d-md-block d-none">
            <div
              class="d-flex gap-3 align-items-center justify-content-center h-100"
              id="iconhover"
            >
              <img
                src="/FacebookIcon.png"
                alt="Facebook"
                style="max-width: 29px;"
              />
              <img
                src="/LinkedinIcon.png"
                alt="Linkedin"
                style="max-width: 29px;"
              />
              <img
                src="/TwitterIcon.png"
                alt="Twitter"
                style="max-width: 29px;"
              />
            </div>
          </div>
        </nav>

        <div class="container-fluid my-5">
          <div
            class="row d-flex flex-wrap justify-content-center align-items-center gap-3"
          >
            <div
              class="col-md-12 col-12 text-center text-wrap fw-bold"
              style="font-size: 74px;"
            >
              <p class="text-light" id="landingtitle">
                The Best Products<br />
                start with Figma
              </p>
            </div>
            <div class="col-md-4 col-12 text-center text-light text-wrap">
              <p>
                Most calendars are designed for teams.<br /> Slate is designed for
                freelancers
              </p>
            </div>
          </div>
          <div class="row d-flex justify-content-center my-5">
            <div class="col-md-2 text-center">
              <a href="" class="btn btn-primary">Try For Free</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section2">
      <div class="container-fluid my-5">
        <div class="row d-flex flex-wrap text-center my-5">
          <div class="col-md-12 fs-1"><p>Features</p></div>
          <div class="col-md-12">
            <p>
              Most calendars are designed for teams.<br /> Slate is designed for
              freelancers
            </p>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center gap-3">
          <div
            class="col-md-2 d-flex justify-content-center align-items-center gap-2 flex-column"
          >
            <img src="/Iconvector1.png" alt="iconVector" />
            <p class="fs-4 text-center">OpenType features Variable fonts</p>
            <p class="fs-6 text-center">
              Slate helps you see how many more days you need to work to reach
              your financial goal.
            </p>
          </div>
          <div
            class="col-md-2 d-flex justify-content-center align-items-center gap-2 flex-column"
          >
            <img src="/Iconvector2.png" alt="iconVector" />
            <p class="fs-4 text-center">Design with real data</p>
            <p class="fs-6 text-center">
              Slate helps you see how many more days you need to work to reach
              your financial goal.
            </p>
          </div>
          <div
            class="col-md-2 d-flex justify-content-center align-items-center gap-2 flex-column"
          >
            <img src="/Iconvector3.png" alt="iconVector" />
            <p class="fs-4 text-center">Fastest way to take action</p>
            <p class="fs-6 text-center">
              Slate helps you see how many more days you need to work to reach
              your financial goal.
            </p>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-8">
            <img
              src="/VideoPreview.png"
              alt="videoPreview"
              class="img-fluid shadow-lg mt-5"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="section3">
      <div class="container-fluid">
        <div
          class="row d-flex flex-wrap justify-content-center gap-5 align-items-center"
        >
          <div class="col-md-3 col-12 d-flex flex-wrap flex-column">
            <p class="md:text-left text-center fs-3 fw-bold">Fastest way to<br />organize</p>
            <p class="fs-6 md:text-justify text-center">
              Most calendars are designed for teams. Slate is designed for
              freelancers
            </p>
            <a href="" class="btn btn-primary my-3 mx-auto md:mx-none text-center w-3/5">Try For Free</a>
          </div>
          <div class="col-md-4 col-12">
            <img
              src="/Computerprop.png"
              alt="Computerprop"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>

 

    <section id="section5" class="mt-5">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
          <div
            class="col-md-12 flex-column flex-wrap justify-content-center align-items-center"
          >
            <p class="fs-3 fw-bold text-center">Partners</p>

            <p class="fs-6 my-4 text-center">
              Most calendars are designed for teams.<br />
              Slate is designed for freelancers
            </p>
          </div>

          <div
            class="row d-flex justify-content-center align-items-center gap-2 flex-wrap"
          >
            <div class="col-md-2 text-center rounded border flex flex-col gap-2 justify-center items-center flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p>Client Name</p>
                  <img src="/GoogleLogo.png" alt="" class=" mx-auto mt-2" />
                </div>
                <div class="flip-card-back">
                  <p class="text-center">Client Name</p>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-2 text-center rounded border  flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p>Client Name</p>
                  <img src="/AmazonLogo.png" alt="" class=" mx-auto mt-2" />
                </div>
                <div class="flip-card-back">
                  <p class="text-center">Client Name</p>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-2 text-center rounded border  flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p>Client Name</p>
                  <img src="/Uberlogo.png" alt="" class=" mx-auto mt-2" />
                </div>
                <div class="flip-card-back">
                  <p class="text-center">Client Name</p>
                  <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="row d-flex justify-content-center align-items-center gap-2 flex-wrap my-3"
            >
              <div
                class="col-md-2 text-center rounded border  flip-card"
              >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p>Client Name</p>
                    <img src="/Uberlogo.png" alt="" class=" mx-auto mt-2" />
                  </div>
                  <div class="flip-card-back">
                    <p class="text-center">Client Name</p>
                    <p class="text-justify">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="col-md-2 text-center rounded border flip-card"
              >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p>Client Name</p>
                    <img
                      src="/AmazonLogo.png"
                      alt=""
                      class=" mx-auto mt-2"
                    />
                  </div>
                  <div class="flip-card-back">
                    <p class="text-center">Client Name</p>
                    <p class="text-justify">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="col-md-2 text-center rounded border  flip-card"
              >
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p>Client Name</p>
                    <img
                      src="/Dropboxlogo.png"
                      alt=""
                      class=" mx-auto mt-2"
                    />
                  </div>
                  <div class="flip-card-back">
                    <p class="text-center">Client Name</p>
                    <p class="text-justify">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section id="section6">
        <div class="container-fluid">
          <div class="row text-center my-5">
            <div class="col-12 my-5">
              <p class="fs-2 text-light fw-bold">Pricing</p>
              <p class="fs-4 text-light">
                Most calendars are designed for teams.<br />
                Slate is designed for freelancers
              </p>
            </div>
          </div>

          <div
            class="row d-flex gap-3 flex-wrap justify-content-center align-items-center"
          >
            <div
              class="col-md-3 col-9 d-flex flex-column justify-content-center align-items-center Offer rounded"
            >
              <p class="fw-bold fs-2 text-center">Free</p>
              <p class="text-center fs-6">
                Organize across all<br />
                apps by hand
              </p>

              <div class="d-flex align-items-center gap-2">
                <p class="fw-bold" style="font-size: 74px;">0</p>
                <p><strong>$</strong><br />Per Month</p>
              </div>

              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <button class="buttonPrice my-5">Order Now</button>
            </div>
            <div
              class="col-md-3 col-9 col d-flex flex-column justify-content-center align-items-center rounded"
              id="OfferPremiun"
            >
              <p class="fw-bold fs-2 text-center">Standard</p>
              <p class="text-center fs-6">
                Organize across all<br />
                apps by hand
              </p>

              <div class="d-flex align-items-center gap-2">
                <p class="fw-bold" style="font-size: 74px;">10</p>
                <p><strong>$</strong><br />Per Month</p>
              </div>

              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <button class="buttonPrice my-5">Order Now</button>
            </div>
            <div
              class="col-md-3 col-9 d-flex flex-column justify-content-center align-items-center Offer rounded"
            >
              <p class="fw-bold fs-2 text-center">Business</p>
              <p class="text-center fs-6">
                Organize across all<br />
                apps by hand
              </p>

              <div class="d-flex align-items-center gap-2">
                <p class="fw-bold" style="font-size: 74px;">99</p>
                <p><strong>$</strong><br />Per Month</p>
              </div>

              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <p>Pricing Feature</p>
              <button class="buttonPrice my-5">Order Now</button>
            </div>
          </div>
        </div>
      </section>

	  <section class="text-gray-600 body-font relative">
		<div class="absolute inset-0 bg-gray-300">
		  <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%C4%B0zmir+(My%20Business%20Name)&ie=UTF8&t=&z=14&iwloc=B&output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
		</div>
		<div class="container px-5 py-24 mx-auto flex">
		  <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
			<h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Contact</h2>
			<p class="leading-relaxed mb-5 text-gray-600">Contact us with this form</p>
			<div class="relative mb-4">
			  <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
			  <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
			</div>
			<div class="relative mb-4">
			  <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
			  <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
			</div>
			<button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
			<p class="text-xs text-gray-500 mt-3">Figmaland fictice world</p>
		  </div>
		</div>
	  </section>

	  <footer class="text-gray-600 body-font">
		<div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
		  <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
			<span class="ml-3 text-xl">Figmaland</span>
		  </a>
		  <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 Figmaland —
		  </p>
		  <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
			<a class="text-gray-500">
			  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
				<path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
			  </svg>
			</a>
			<a class="ml-3 text-gray-500">
			  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
				<path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
			  </svg>
			</a>
			<a class="ml-3 text-gray-500">
			  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
				<rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
				<path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
			  </svg>
			</a>
			<a class="ml-3 text-gray-500">
			  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
				<path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
				<circle cx="4" cy="4" r="2" stroke="none"></circle>
			  </svg>
			</a>
		  </span>
		</div>
	  </footer>
    </section>
  </main>
</Layout>
